{% extends 'layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}

<div>

    <form role="form" method="post" action="/login">

        <div class="form-group{% if errors.username is defined %} has-error has-feedback{% endif %}">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" {% if post.username is defined %}value="{{ post.username }}"{% endif %}>
            {% if errors.username is defined %}<p class="text-danger">{{ errors.username }}</p>{% endif %}
        </div>

        <div class="form-group{% if errors.password is defined %} has-error has-feedback{% endif %}">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" {% if post.password is defined %}value="{{ post.password }}"{% endif %}>
            {% if errors.password is defined %}<p class="text-danger">{{ errors.password }}</p>{% endif %}
        </div>

        {% if error is defined %}
            <p class="bg-danger">
                {{ error }}
            </p>
        {% endif %}

        <button type="submit" class="btn btn-primary btn-default">Login</button>

    </form>

</div>

{% endblock %}
